@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #050505;
  --foreground: #ffffff;
  --card: #0F0F0F;
  --card-foreground: #ffffff;
  --popover: #121624;
  --popover-foreground: #ffffff;
  --primary: #FF5500;
  --primary-glow: rgba(255, 85, 0, 0.5);
  --primary-foreground: #ffffff;
  --secondary: #121624;
  --secondary-foreground: #FF5500;
  --muted: #1A1D28;
  --muted-foreground: #8E9BAE;
  --accent: #FF5500;
  --accent-cyan: #00D2FF;
  --accent-green: #00FF88;
  --accent-gold: #FFB300;
  --accent-foreground: #050505;
  --destructive: #EF4444;
  --destructive-foreground: #ffffff;
  --border: #222222;
  --input: #1A1D28;
  --input-background: #0F0F0F;
  --switch-background: #27272A;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #FF5500;
  --chart-1: #FF5500;
  --chart-2: #00D2FF;
  --chart-3: #00FF88;
  --chart-4: #FFB300;
  --chart-5: #FF4500;
  --radius: 0.375rem;
}

.dark {
  --background: #050505;
  --foreground: #ffffff;
  --card: #0F0F0F;
  --card-foreground: #ffffff;
  --popover: #121624;
  --popover-foreground: #ffffff;
  --primary: #FF5500;
  --primary-glow: rgba(255, 85, 0, 0.5);
  --primary-foreground: #ffffff;
  --secondary: #121624;
  --secondary-foreground: #FF5500;
  --muted: #1A1D28;
  --muted-foreground: #8E9BAE;
  --accent: #FF5500;
  --accent-cyan: #00D2FF;
  --accent-green: #00FF88;
  --accent-gold: #FFB300;
  --accent-foreground: #050505;
  --destructive: #EF4444;
  --destructive-foreground: #ffffff;
  --border: #222222;
  --input: #1A1D28;
  --ring: #FF5500;
}
